---
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignAfterOpenBracket: true
AlignArrayOfStructures: None
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: false
AlignOperands: Align
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortNamespacesOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: false
BinPackLongBracedList: true
BinPackParameters: OnePerLine
BitFieldColonSpacing: None
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Always
# BreakAfterOpenBracketBracedList: true
# BreakAfterOpenBracketFunction: true
# BreakAfterOpenBracketIf: true
# BreakAfterOpenBracketLoop: true
# BreakAfterOpenBracketSwitch: true
BreakAfterReturnType: ExceptShortType
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterColon

ColumnLimit: 120

IndentAccessModifiers: false
InsertNewlineAtEOF: true
IndentWidth: 4

NamespaceIndentation: None

PointerAlignment: Left

ReflowComments: Always

Standard: c++17
SortIncludes:
  Enabled: true
  IgnoreCase: true
  # IgnoreExtension: true

UseTab: Never
